.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    width: 100%;
    max-width: 490px;
    text-align: center;
}

.no-rooms {
     text-align: center;
 }

.room-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.room-button {
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 120px;
    text-align: center;
    background-color: #7397ba;
    cursor: pointer;
}

.room-button:hover {
    transform: scale(1.1);
    background-color: #818cf8;
}

.room-button img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.edit-button {
    position: fixed;
    top: 100px;
    right: 370px;
    background: #7397ba;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    z-index: 20;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.edit-button button {
    background: transparent;
    border: none;
    padding: 0;
}

.edit-button button svg {
    font-size: 24px;
}



.add-room-icon {
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #7397ba;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

.icon {
    padding: 10px 0;
}