.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    width: 100%;
    max-width: 490px;
    text-align: center;
}

.no-rooms {
     text-align: center;
 }

.room-grid {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    overflow: scroll;
    max-width: 490px;
    height: 400px;
}

.room-grid::-webkit-scrollbar {
    display: none;
}

.room-button {
    position: relative;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 120px;
    text-align: center;
    background-color: #7397ba;
    cursor: pointer;
    margin-top: 10px;
}

.room-button:hover {
    transform: scale(1.1);
    background-color: #818cf8;
}

.room-button img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.edit-container {
    min-width: 490px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.edit-button {
    position: relative;
    background: #7397ba;
    top: 0;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    z-index: 20;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.edit-button button {
    background: transparent;
    border: none;
    padding: 0;
}

.edit-button button svg {
    font-size: 24px;
}



.add-room-icon {
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #7397ba;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

.icon {
    padding: 10px 0;
}
.room-editable {
    position: relative;
}

.room-editable-container {
    position: relative;
    cursor: pointer;
}

.room-button.edit-mode {
    transition: all 0.3s ease;
}

.room-button.edit-mode:hover {
    opacity: 0.7;
}

.delete-icon-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 2rem;
    color: white;
}

.room-editable-container:hover .delete-icon-full {
    opacity: 1;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    border-radius: 8px;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}

.modal-actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
