@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


.app {
  min-height: 100vh;
}


.app-container {
  background-color: var(--dark-gray);
  color: var(--ghost-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 0 20px var(--app-green);
  height: 100vh;
  padding-top: 60px ;
}

.hero {
  background-color: var(--light-grone);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--app-green);
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}


p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}


