@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.app {
  min-height: 100vh;
}

.app-container {
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 490px;
}

.hero {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 490px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.1);
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}


p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

button {
  padding: 0.6rem 1.4rem;
  background-color: #7397ba;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  font-family: 'Orbitron', sans-serif;
}

button:hover {
  background-color: #5f7c9a;
}
