@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


.app {
  min-height: 100vh;
}


.app-container {
  background-color: var(--dark-gray);
  color: var(--ghost-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.hero {
  background-color: var(--light-grone);
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--app-green);
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  max-width: 30vw;
  height: auto;
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}


p {
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}


