body {
  margin: 0;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root{
  /* PALETA DE COLORES, SOLO USAR ESTOS */
  --alarm-red: #ff4444; /*#941E1F;*/
  --violeta: #54138d; /* ver si este no es muy violento */
  --grape: #793E5C;
  --majorelle-blue: #4f46e5;
  --tropical-indigo: #818cf8;
  --app-green: #00FFFF19;
  --light-green: #81DFAF;
  --blue-gray: #7397ba;
  --dark-gray: #4c596c;
  --red--gray: #755e5e;
  --light-grone: #111A22;
  --lighter-gray: #D9D7F9;
  --champagne-pink: #f2dfd7;
  --ghost-white: #fef9ff;
  --rosado: #ECC6D0;
  --info-blue: #3498db;
  --info-blue-dark: #2980b9;
  --success-green: #2ecc71;
  --success-green-dark: #27ae60;
  --error-red: #e74c3c;
  --error-red-dark: #c0392b;
  --extra-dark-gay:#333;
}