
.header-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header {
    width: 100%;
    max-width: 490px;
    text-align: center;
}

.no-rooms {
     text-align: center;
 }


.edit-container {
    min-width: 490px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}


.add-room-icon {
    border-radius: 12px;
    box-shadow: 0 2px 5px var(--light-grone);
    text-align: center;
    background-color: var(--blue-gray);
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}

.icon {
    padding: 10px 0;
}










